@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.Home {
    margin: 0px 40px;
}

.landing {
    background: url("https://assets-global.website-files.com/65536c2335f1d63e21d653ca/65536c2335f1d63e21d6548b_405-p-2000.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

@media(max-width: 1300px) {
    .Home {
        border-radius: 0px 0px 50px 50px;
    }
}

@media(max-width: 750px) {
    .Home {
        margin: 0px 20px;
    }
}

@media(max-width: 600px) {
    .Home {
        margin: 0px 0px;
    }
}